<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="Eric Hernandez"/>

	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index.css") }}"/>
	<title>{% block title %} {% endblock %} - Computing with Eric</title>
</head>
	
<body>
	<header>
		<h1 id="website-title"> <a href="{{ url_for("index") }}"> Computing with Eric </a> </h1>
		
		<div id="navigation">
				<span class="nav-element"> <a href="{{ url_for("software") }}"> Software</a> </span>
				<span class="nav-element"> <a href="{{ url_for("hardware_projects") }}"> Hardware Projects</a> </span>
				<span class="nav-element"> <a href="https://www.github.com/herneri"> Github</a> </span>
				<span class="nav-element"> <a href="{{ url_for("my_computing") }}"> My Computing</a> </span>
				<span class="nav-element"> <a href="{{ url_for("about_me") }}"> About Me</a> </span>
		</div>
	</header>

	<main>
		{% block main %}
		{% endblock %}
	</main>
</body>
</html>
