{% extends "base.html" %}

{% block title %} Software {% endblock %}

{% block main %}
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/software.css") }}"/>
	
	<a href="{{ url_for("lang", lang="c") }}"><img src="{{ url_for("static", filename="images/software-assets/c-logo.png") }}" alt="C logo"/></a>
	<a href="{{ url_for("lang", lang="python") }}"><img src="{{ url_for("static", filename="images/software-assets/python-logo.png") }}" alt="Python logo"/></a>
	<a href="{{ url_for("lang", lang="java") }}"><img src="{{ url_for("static", filename="images/software-assets/java-logo.png") }}" alt="Java logo"/></a>
	<a href="{{ url_for("lang", lang="shell") }}"><img src="{{ url_for("static", filename="images/software-assets/bash-logo.png") }}" alt="Bash logo"/></a>
{% endblock %}
